@model MongoDbCRUD.Models.Test

@{
    ViewBag.Title = "CreateProductTest";
}

<h3><b>Product Test Management</b></h3>
<br />
<br />

@using (Html.BeginForm())
{
    <!-- Form for creating a product test. -->
    <div class="col-md-12">
        <input type="submit" value="Create Test" class="btn btn-success" />
    </div>
}
