@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    via calle pozas 64<br />
    Bilbao, 48013<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">italo.sorbara@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">italo.sorbara@gmail.com</a>
</address>